// typography
*{
	box-sizing: border-box;
}
html,body{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
}
h1{

}
h2{

}
h3{

}
h4{

}
h5{

}
p{
	max-width:600px;
}