// Fonts
$primary-font: "Open Sans";
$secondary-font: "Verdana";

// Colors
$primary-grey: #3C3C3E;
$primary-light-grey: #EEE;
$primary-blue: #3498DB;
$secondary-blue:#025989;
$caution-yellow: #F1C40F;
$start-green: #2ECC71;
$destructive-red: #C1272D;

